:root {
    --header-color: yellow;
    --button-color: green;
    --button-disabled-color: darkgreen;
}

.sushi-img {
    display: block; 
    width: 60vw;
    border: 0.5rem solid lightpink;
    margin: 0 auto;
}

.header,
.info {
    text-align: center;
}
.header {
    display: flex;
    background-color: var(--header-color);
    height: 3rem;
    justify-content: center;
    gap: 10rem;
}

.home-button,
.menu-button,
.contact-button {
    width: 10rem;
    background-color: var(--button-color);
}

.home-button:disabled,
.menu-button:disabled,
.contact-button:disabled {
    background-color: var(--button-disabled-color);
}

.info {
    width: 80vw;
    margin: 0 auto;
}